.memesweeper.themed .controls .button {
  background-image: url('suchdoge.jpg');
}
.memesweeper.themed .controls .score:before {
  content: "Doges";
}
.memesweeper.themed.winner .controls:before {
  content: 'wow. much amaze.';
  color: darkgreen;
}
.memesweeper.themed.winner .controls .button {
  background-image: url('doge-sunglasses.png');
}
.memesweeper.themed.loser .controls:before {
  content: 'so wow. maybe next time.';
  color: red;
}
.memesweeper.themed .board .board-square.squared {
  background-image: url('suchdoge.jpg');
}
